/* Hide scrollbar for Chrome, Safari and Opera */
.hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.child {
  scroll-snap-align: center;
  scroll-snap-stop: always;
}

.child2 {
  scroll-snap-align: center;
  scroll-snap-stop: always;
  transform: rotateX(45deg);
}

.child3 {
  scroll-snap-align: center;
  scroll-snap-stop: always;
  transform: rotateX(65deg);
}

.child1 {
  scroll-snap-align: center;
  scroll-snap-stop: always;
  transform: rotateX(30deg);
}

/* .child:focus {
  scroll-snap-align: center;
  scroll-snap-stop: always;
  opacity: 0.2;
} */

/* Got from https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
